#set($conditionColumns=["THIER321_ID"])
#set($columnsToSelect=["CATEGORY_ID_2", "IMSI"])

SELECT
    :THIER321_ID    AS    HIER321_ID,
    topology.VENDOR,
    topology.HIERARCHY_3,
    topology.HIERARCHY_1,
    eventDesc.CATEGORY_ID_2_DESC AS 'Handover Stage',
    aggView.CATEGORY_ID_2,
    aggView.Failures as 'Failures',
    subscribers.IMPACTED_SUBSCRIBERS as 'Impacted Subscribers',
    RAT_TABLE.RAT_DESC
FROM
    (select
        CATEGORY_ID_2,
        :THIER321_ID    AS    HIER321_ID,
        sum(NO_OF_ERRORS)
    from
        $aggregationView as tempAgg
    where
        tempAgg.THIER321_ID = :THIER321_ID
        and
        #GET_DATETIME_RANGE()
    group by
        CATEGORY_ID_2
    ) as aggView(CATEGORY_ID_2,HIER321_ID, Failures)
    left outer join
    (
        select
            count(distinct rawview.IMSI),
            CATEGORY_ID_2
        from
            #if ($timerange == "TR_4")
            #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS_WEEK($TECH_PACK_LIST.getAllRawTables() "rawview" $conditionColumns $columnsToSelect)
            #else
            #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTables() "rawview" $conditionColumns $columnsToSelect)
            #end
        group by
            CATEGORY_ID_2
        ) as subscribers(IMPACTED_SUBSCRIBERS, CATEGORY_ID_2)
    on (
        aggView.CATEGORY_ID_2 = subscribers.CATEGORY_ID_2
        )
    join(
    select distinct
        CATEGORY_ID_2,CATEGORY_ID_2_DESC
        from
        DIM_E_LTE_HFA_EVENTTYPE) eventDesc
    on(
        eventDesc.CATEGORY_ID_2 = aggView.CATEGORY_ID_2
      )
    left outer join
(
        select
            HIERARCHY_1,
            HIERARCHY_3,
            HIER321_ID,
            VENDOR,
            RAT
        from
            DIM_E_LTE_HIER321
        where HIER321_ID = :THIER321_ID
                GROUP BY HIERARCHY_1,
            HIERARCHY_3,
            HIER321_ID,
            VENDOR,
            RAT
    ) as topology
     on (
     aggView.HIER321_ID = topology.HIER321_ID
     )
Join(
        SELECT DISTINCT
            RAT, RAT_DESC
        FROM
            DIM_E_SGEH_RAT
    ) as RAT_TABLE
    ON RAT_TABLE.RAT = topology.RAT
        