##
## LTE Handover Failure Detailed Event Analysis for ENODEB (using raw tables)
##
## Velocity Parameter:
##        EVENT_ID:   Corresponding event id for enodeB
##        groupname:   The enodeB group
##
## Named PreparedStatement Parameter:
##
##:dateFrom starting time
##:dateTo  ending time
##

#set($conditionColumns=["EVENT_ID","CAUSE_CODE"])
#set($groupTable="GROUP_TYPE_E_RAT_VEND_HIER3")
#set($groupnameColumn="GROUP_NAME")
#set($joinKeys=["HIER3_ID"])

#if($EVENT_ID == '4102')
#set($columnsToFilter=["EVENT_TIME", "IMSI", "TAC", "HIER3_ID","HIER321_ID", "MCC", "MNC", "DURATION","CAUSE_CODE","HO_SOURCE_TARGET_TYPE","HO_TARGET_SELECTION_TYPE", "HO_PREP_OUT_ATTEMPT_CAUSE","THIER3_ID","THIER321_ID", "SRVCC_TYPE", "CAUSE_GROUP_3GPP", "CAUSE_3GPP", "NO_OF_ERABS"])
#elseif($EVENT_ID == '4110')
#set($columnsToFilter=["EVENT_TIME", "IMSI", "TAC", "HIER3_ID","HIER321_ID", "MCC", "MNC","DURATION","CAUSE_CODE","HO_SOURCE_TARGET_TYPE","HO_TARGET_SELECTION_TYPE", "HO_PREP_OUT_ATTEMPT_CAUSE","THIER3_ID","THIER321_ID","HO_TYPE", "CAUSE_GROUP_3GPP", "CAUSE_3GPP", "NO_OF_ERABS"])
#elseif($EVENT_ID == '4103'|| $EVENT_ID == '4111')
#set($columnsToFilter=["EVENT_TIME", "IMSI", "TAC", "HIER3_ID", "HIER321_ID","MCC", "MNC","DURATION","CAUSE_CODE","HO_SOURCE_TARGET_TYPE","RANDOM_ACCESS_TYPE","SPID_VALUE","NO_OF_ERABS","THIER3_ID","THIER321_ID", "PREP_IN_RESULT_UE_CTXT", "CAUSE_GROUP_3GPP", "CAUSE_3GPP"])
#elseif($EVENT_ID == '4104')
#set($columnsToFilter=["EVENT_TIME", "IMSI", "TAC", "HIER3_ID", "HIER321_ID","MCC", "MNC","DURATION","CAUSE_CODE","HO_SOURCE_TARGET_TYPE","HO_TARGET_SELECTION_TYPE", "DRX_CONFIG_INDEX","THIER3_ID","THIER321_ID", "HO_EXEC_OUT_ATTEMPT_CAUSE", "NO_OF_ERABS"])
#elseif($EVENT_ID == '4112')
#set($columnsToFilter=["EVENT_TIME", "IMSI", "TAC", "HIER3_ID", "HIER321_ID","MCC", "MNC","DURATION","CAUSE_CODE","HO_SOURCE_TARGET_TYPE","HO_TARGET_SELECTION_TYPE", "DRX_CONFIG_INDEX","HO_PACKET_FORWARD","HO_TYPE", "THIER3_ID","THIER321_ID", "HO_EXEC_OUT_ATTEMPT_CAUSE", "NO_OF_ERABS"])
#elseif($EVENT_ID == '4105')
#set($columnsToFilter=["EVENT_TIME", "IMSI", "TAC", "HIER3_ID", "HIER321_ID","MCC", "MNC","DURATION","CAUSE_CODE","RANDOM_ACCESS_TYPE","THIER3_ID","THIER321_ID", "HO_SOURCE_TARGET_TYPE", "NO_OF_ERABS"])
#elseif($EVENT_ID == '4113')
#set($columnsToFilter=["EVENT_TIME", "IMSI", "TAC", "HIER3_ID", "HIER321_ID","MCC", "MNC","DURATION","CAUSE_CODE","RANDOM_ACCESS_TYPE","HO_PACKET_FORWARD","HO_TYPE", "THIER3_ID","THIER321_ID", "NO_OF_ERABS"])
#end

SELECT
    #if($count > 0)
      top $count
    #end
    rawview.HIER3_ID ,
    rawview.HIER321_ID ,
    rawview.THIER3_ID ,
    rawview.THIER321_ID ,
    rawview.EVENT_TIME AS 'Event Time',
    convert(char(23), rawview.EVENT_TIME, 'yyyy-mm-dd hh:mm:ss.SSS') as EVENT_TIME,
    rawview.IMSI AS IMSI,
    rawview.TAC AS TAC,
    case when (rawview.TAC != null AND  rawview.TAC != 0 ) then isnull(DIM_E_SGEH_TAC.VENDOR_NAME,'Manufacturer Unknown')
         when (rawview.TAC = 0) then isnull(DIM_E_SGEH_TAC.VENDOR_NAME,'Manufacturer Invalid')
         else null end AS 'Terminal Make' ,
    case when (rawview.TAC != null AND  rawview.TAC != 0 ) then isnull(DIM_E_SGEH_TAC.MARKETING_NAME,'Model Unknown') 
         when (rawview.TAC = 0) then isnull(DIM_E_SGEH_TAC.MARKETING_NAME,'Model Invalid') 
         else null end AS 'Terminal Model' ,
    $EVENT_ID AS 'EVENT_ID',
    DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID_DESC as 'Event Type' ,
    DIM_E_LTE_HFA_CAUSE_CODE.CAUSE_CODE_DESC as 'Handover Result',
    sourceTopology.HIERARCHY_3 as 'Source Controller' ,
    sourceTopology.HIERARCHY_1 as 'Source Access Area' ,
    targetTopology.HIERARCHY_3 as 'Target Controller' ,
    targetTopology.HIERARCHY_1 as 'Target Access Area' ,
    sourceTopology.VENDOR as 'RAN Vendor' ,
    sourceTopology.RAT_DESC as 'RAT Description',
    rawview.MCC AS MCC,
    rawview.MNC AS MNC,
    rawview.DURATION AS 'Duration'
#if($EVENT_ID == '4102')
    ,DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE_DESC as 'Target Type'
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE_DESC as 'Selection Type'
    ,DIM_E_LTE_HFA_HO_PREP_OUT_ATTEMPT_CAUSE.HO_PREP_OUT_ATTEMPT_CAUSE_DESC as 'HO Attempt'
    ,DIM_E_LTE_HFA_SRVCC_TYPE.SRVCC_TYPE_DESC as 'SRVCC Type'
    ,rawview.CAUSE_3GPP as 'Cause Code'
    ,DIM_E_LTE_HFA_CAUSE_GROUP_3GPP.CAUSE_GROUP_3GPP_DESC as '3GPP Cause Group'
#elseif($EVENT_ID == '4110')
    ,DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE_DESC as 'Target Type'
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE_DESC as 'Selection Type'
    ,DIM_E_LTE_HFA_HO_PREP_OUT_ATTEMPT_CAUSE.HO_PREP_OUT_ATTEMPT_CAUSE_DESC as 'HO Attempt'
    ,DIM_E_LTE_HFA_HO_TYPE.HO_TYPE_DESC as 'HO Type'
    ,rawview.CAUSE_3GPP as 'Cause Code'
    ,DIM_E_LTE_HFA_CAUSE_GROUP_3GPP.CAUSE_GROUP_3GPP_DESC as '3GPP Cause Group'
#elseif($EVENT_ID == '4103'|| $EVENT_ID == '4111')
    ,DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE_DESC as 'Source Type'
    ,DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE.RANDOM_ACCESS_TYPE_DESC as 'Random Access Type'
    ,rawview.SPID_VALUE as 'Subscriber Profile ID'
    ,DIM_E_LTE_HFA_PREP_IN_RESULT_UE_CTXT.PREP_IN_RESULT_UE_CTXT_DESC as 'Ho Prep Result(UE Ctxt Level)'
    ,rawview.CAUSE_3GPP as 'Cause Code'
    ,DIM_E_LTE_HFA_CAUSE_GROUP_3GPP.CAUSE_GROUP_3GPP_DESC as '3GPP Cause Group'
#elseif($EVENT_ID == '4104')
    ,DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE_DESC as 'Target Type'
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE_DESC as 'Selection Type'
    ,DIM_E_LTE_HFA_DRX_CONFIG_INDEX.DRX_CONFIG_INDEX_DESC as 'Config Index'
    ,DIM_E_LTE_HFA_PROC_HO_EXEC_OUT_ATTEMPT_CAUSE.PROC_HO_EXEC_OUT_ATTEMPT_CAUSE_DESC as 'HO Attempt'
#elseif($EVENT_ID == '4112')
    ,DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE_DESC as 'Target Type'
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE_DESC as 'Selection Type'
    ,DIM_E_LTE_HFA_DRX_CONFIG_INDEX.DRX_CONFIG_INDEX_DESC as 'Config Index'
    ,DIM_E_LTE_HFA_HO_PACKET_FORWARD.HO_PACKET_FORWARD_DESC as 'Packet Forward'
    ,DIM_E_LTE_HFA_HO_TYPE.HO_TYPE_DESC as 'HO Type'
    ,DIM_E_LTE_HFA_PROC_HO_EXEC_OUT_ATTEMPT_CAUSE.PROC_HO_EXEC_OUT_ATTEMPT_CAUSE_DESC as 'HO Attempt'
#elseif($EVENT_ID == '4105')
    ,DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE.RANDOM_ACCESS_TYPE_DESC as 'Random Access Type'
    ,DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE_DESC as 'Source Type'
#elseif($EVENT_ID == '4113')
    ,DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE.RANDOM_ACCESS_TYPE_DESC as 'Random Access Type'
    ,DIM_E_LTE_HFA_HO_PACKET_FORWARD.HO_PACKET_FORWARD_DESC as 'Packet Forward'
    ,DIM_E_LTE_HFA_HO_TYPE.HO_TYPE_DESC as 'HO Type'
#end
,rawview.NO_OF_ERABS as 'No of ERABS'
FROM
#if($timerange == "TR_4")
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_CONDITION_COLUMNS_GROUPS_WEEK($TECH_PACK_LIST.getAllRawTables() "rawview" $conditionColumns $columnsToFilter)
    #else
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_CONDITION_COLUMNS_GROUPS($TECH_PACK_LIST.getAllRawTables() "rawview" $conditionColumns $columnsToFilter)
    #end
    ,DIM_E_SGEH_TAC,
    DIM_E_LTE_HFA_EVENTTYPE,
    DIM_E_LTE_HFA_CAUSE_CODE,
#if($EVENT_ID == '4102')
    DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE
    ,DIM_E_LTE_HFA_HO_PREP_OUT_ATTEMPT_CAUSE
    ,DIM_E_LTE_HFA_SRVCC_TYPE
    ,DIM_E_LTE_HFA_CAUSE_GROUP_3GPP
#elseif($EVENT_ID == '4110')
    DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE
    ,DIM_E_LTE_HFA_HO_PREP_OUT_ATTEMPT_CAUSE
    ,DIM_E_LTE_HFA_HO_TYPE
    ,DIM_E_LTE_HFA_CAUSE_GROUP_3GPP
#elseif($EVENT_ID == '4103'|| $EVENT_ID == '4111')
    DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE
    ,DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE
    ,DIM_E_LTE_HFA_PREP_IN_RESULT_UE_CTXT
    ,DIM_E_LTE_HFA_CAUSE_GROUP_3GPP
#elseif($EVENT_ID == '4104')
    DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE
    ,DIM_E_LTE_HFA_DRX_CONFIG_INDEX
    ,DIM_E_LTE_HFA_PROC_HO_EXEC_OUT_ATTEMPT_CAUSE
#elseif($EVENT_ID == '4112')
    DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE
    ,DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE
    ,DIM_E_LTE_HFA_DRX_CONFIG_INDEX
    ,DIM_E_LTE_HFA_HO_PACKET_FORWARD
    ,DIM_E_LTE_HFA_HO_TYPE
    ,DIM_E_LTE_HFA_PROC_HO_EXEC_OUT_ATTEMPT_CAUSE
#elseif($EVENT_ID == '4105')
    DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE
    ,DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE
#elseif($EVENT_ID == '4113')
    DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE
    ,DIM_E_LTE_HFA_HO_PACKET_FORWARD
    ,DIM_E_LTE_HFA_HO_TYPE
#end
    ,    (
    SELECT
    dim_table.HIERARCHY_1,
    dim_table.HIERARCHY_3,
    dim_table.HIER3_ID,
    dim_table.HIER321_ID,
    dim_table.VENDOR,
    dim_table.RAT,
    DIM_E_SGEH_RAT.RAT_DESC
    FROM (
        SELECT
            topo.HIERARCHY_1,
            topo.HIERARCHY_3,
            topo.HIER3_ID,
            topo.HIER321_ID,
            topo.VENDOR,
            topo.RAT
        FROM
            DIM_E_LTE_HIER321 topo,
            GROUP_TYPE_E_RAT_VEND_HIER3 groupTable
            WHERE groupTable.GROUP_NAME = :groupname
            AND groupTable.HIER3_ID = topo.HIER3_ID
            GROUP BY topo.HIERARCHY_1,
            topo.HIERARCHY_3,
            topo.HIER3_ID,
            topo.HIER321_ID,
            topo.VENDOR,
            topo.RAT
            ) as DIM_TABLE
            LEFT OUTER JOIN DIM_E_SGEH_RAT
                ON
                        (
                                DIM_E_SGEH_RAT.RAT=DIM_TABLE.RAT
                        )
        )as sourceTopology,
    (
        SELECT
            topo.HIERARCHY_1,
            topo.HIERARCHY_3,
            topo.HIER3_ID,
            topo.HIER321_ID
        FROM
            DIM_E_LTE_HIER321 topo
        GROUP BY
            topo.HIERARCHY_1,
            topo.HIERARCHY_3,
            topo.HIER3_ID,
            topo.HIER321_ID
    ) AS targetTopology
WHERE
    rawview.HIER3_ID *= sourceTopology.HIER3_ID AND
    rawview.HIER321_ID *= sourceTopology.HIER321_ID AND
    rawview.THIER3_ID *= targetTopology.HIER3_ID AND
    rawview.THIER321_ID *= targetTopology.HIER321_ID AND
    rawview.TAC *= DIM_E_SGEH_TAC.TAC AND
    DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID = :eventID AND
    rawview.CAUSE_CODE *= DIM_E_LTE_HFA_CAUSE_CODE.CAUSE_CODE AND
    DIM_E_LTE_HFA_CAUSE_CODE.EVENT_ID = :eventID AND
    #if($EVENT_ID == '4102')
    rawview.HO_SOURCE_TARGET_TYPE *= DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE AND
    rawview.HO_TARGET_SELECTION_TYPE *= DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE AND
    rawview.HO_PREP_OUT_ATTEMPT_CAUSE *= DIM_E_LTE_HFA_HO_PREP_OUT_ATTEMPT_CAUSE.HO_PREP_OUT_ATTEMPT_CAUSE AND
    rawview.SRVCC_TYPE *= DIM_E_LTE_HFA_SRVCC_TYPE.SRVCC_TYPE AND
    rawview.CAUSE_GROUP_3GPP *= DIM_E_LTE_HFA_CAUSE_GROUP_3GPP.CAUSE_GROUP_3GPP
    #elseif($EVENT_ID == '4110')
    rawview.HO_SOURCE_TARGET_TYPE *= DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE AND
    rawview.HO_TARGET_SELECTION_TYPE *= DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE AND
    rawview.HO_PREP_OUT_ATTEMPT_CAUSE *= DIM_E_LTE_HFA_HO_PREP_OUT_ATTEMPT_CAUSE.HO_PREP_OUT_ATTEMPT_CAUSE AND
    rawview.HO_TYPE *= DIM_E_LTE_HFA_HO_TYPE.HO_TYPE AND
    rawview.CAUSE_GROUP_3GPP *= DIM_E_LTE_HFA_CAUSE_GROUP_3GPP.CAUSE_GROUP_3GPP
    #elseif($EVENT_ID == '4103'|| $EVENT_ID == '4111')
    rawview.HO_SOURCE_TARGET_TYPE *= DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE AND
    rawview.RANDOM_ACCESS_TYPE *= DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE.RANDOM_ACCESS_TYPE AND
    rawview.PREP_IN_RESULT_UE_CTXT *= DIM_E_LTE_HFA_PREP_IN_RESULT_UE_CTXT.PREP_IN_RESULT_UE_CTXT AND
    rawview.CAUSE_GROUP_3GPP *= DIM_E_LTE_HFA_CAUSE_GROUP_3GPP.CAUSE_GROUP_3GPP
    #elseif($EVENT_ID == '4104')
    rawview.HO_SOURCE_TARGET_TYPE *= DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE AND
    rawview.HO_TARGET_SELECTION_TYPE *= DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE AND
    rawview.DRX_CONFIG_INDEX *= DIM_E_LTE_HFA_DRX_CONFIG_INDEX.DRX_CONFIG_INDEX  AND
    rawview.HO_EXEC_OUT_ATTEMPT_CAUSE *= DIM_E_LTE_HFA_PROC_HO_EXEC_OUT_ATTEMPT_CAUSE.PROC_HO_EXEC_OUT_ATTEMPT_CAUSE
    #elseif($EVENT_ID == '4112')
    rawview.HO_SOURCE_TARGET_TYPE *= DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE AND
    rawview.HO_TARGET_SELECTION_TYPE *= DIM_E_LTE_HFA_HO_TARGET_SELECTION_TYPE.HO_TARGET_SELECTION_TYPE AND
    rawview.DRX_CONFIG_INDEX *= DIM_E_LTE_HFA_DRX_CONFIG_INDEX.DRX_CONFIG_INDEX AND
    rawview.HO_PACKET_FORWARD *= DIM_E_LTE_HFA_HO_PACKET_FORWARD.HO_PACKET_FORWARD AND
    rawview.HO_TYPE *= DIM_E_LTE_HFA_HO_TYPE.HO_TYPE AND
    rawview.HO_EXEC_OUT_ATTEMPT_CAUSE *= DIM_E_LTE_HFA_PROC_HO_EXEC_OUT_ATTEMPT_CAUSE.PROC_HO_EXEC_OUT_ATTEMPT_CAUSE
    #elseif($EVENT_ID == '4105')
    rawview.RANDOM_ACCESS_TYPE *= DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE.RANDOM_ACCESS_TYPE AND
    rawview.HO_SOURCE_TARGET_TYPE *= DIM_E_LTE_HFA_HO_SOURCE_OR_TARGET_TYPE.HO_SOURCE_TARGET_TYPE
    #elseif($EVENT_ID == '4113')
    rawview.RANDOM_ACCESS_TYPE *= DIM_E_LTE_HFA_RANDOM_ACCESS_TYPE.RANDOM_ACCESS_TYPE AND
    rawview.HO_PACKET_FORWARD *= DIM_E_LTE_HFA_HO_PACKET_FORWARD.HO_PACKET_FORWARD AND
    rawview.HO_TYPE *= DIM_E_LTE_HFA_HO_TYPE.HO_TYPE
    #end
