##
## LTE HFA QOS QCI Ecell Event Summary Analysis (using raw tables)
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

#set($conditionColumns=["HIER321_ID", "QCI_ID", "CATEGORY_ID_2"])
#set($columnsToSelect=[ "IMSI", "EVENT_ID"])

SELECT
	#if($count > 0)
	  top $count
	#end
	:HIER321_ID as HIER321_ID,
	:QCI_ID as QCI_ID,
	data_table.EVENT_ID as EVENT_ID,
	DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID_DESC as 'Event Type',
	data_table.FAILURES as Failures,
	data_table.IMPACTED_SUBSCRIBERS as 'Impacted Subscribers',
	topology.HIERARCHY_1 as 'Access Area',
	topology.HIERARCHY_3 AS 'Controller',
	topology.VENDOR AS 'RAN Vendor',
	:NODE AS 'NODE'
FROM
	(	
		select 
			count (*) as FAILURES,
			:HIER321_ID as HIER321_ID,
			:QCI_ID as QCI_ID,
			EVENT_ID,
			count (distinct rawview.IMSI) as IMPACTED_SUBSCRIBERS
		from
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $conditionColumns $columnsToSelect)
		group by
			EVENT_ID
	) as data_table
left outer join
	DIM_E_LTE_HFA_EVENTTYPE
on
	DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID = data_table.EVENT_ID
left outer join (
		select 
			HIERARCHY_1,
			HIERARCHY_3,
			HIER321_ID,
			VENDOR
		from 
			DIM_E_LTE_HIER321
		where 
			HIER321_ID = :HIER321_ID
			and HIERARCHY_1=:HIERARCHY_1
		group by
			HIERARCHY_1,
        	HIERARCHY_3,
            HIER321_ID,
			VENDOR
	) as topology
	on (
		topology.HIER321_ID = data_table.HIER321_ID
		)