##
## LTE HFA QOS QCI ecell Event Summary Analysis (using aggregation tables)
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

#set($conditionColumns=["HIER321_ID", "QCI_ID", "CATEGORY_ID_2"])
#set($columnsToSelect=[ "IMSI", "EVENT_ID"])
#set($columnsToIncludeInNewView=["EVENT_ID", "HIER321_ID"])

SELECT
    #if($count > 0)
      top $count
    #end
    :HIER321_ID as HIER321_ID,
    :QCI_ID as QCI_ID,
    aggView.EVENT_ID as EVENT_ID,
    DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID_DESC as 'Event Type',
    aggView.NO_OF_ERRORS as Failures,
    subscribers.IMPACTED_SUBSCRIBERS as 'Impacted Subscribers',
    topology.HIERARCHY_1 as 'Access Area',
    topology.HIERARCHY_3 AS 'Controller',
    topology.VENDOR AS 'RAN Vendor',
    :NODE AS 'NODE'
FROM
    #UNION_ALL_AGGREGATION_VIEWS_WITH_SPECIFIC_COLUMNS_POST_AGGREGATE_WITH_CONDITION($aggregationViewList "aggView" $columnsToIncludeInNewView "NO_OF_ERRORS" $conditionColumns)
left outer join
    (
        select
            :HIER321_ID as HIER321_ID,
            count(distinct rawview.IMSI) as IMPACTED_SUBSCRIBERS,
            EVENT_ID
        from
            #if ($timerange == "TR_4")
            #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS_WEEK($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $conditionColumns $columnsToSelect)
            #else
            #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $conditionColumns $columnsToSelect)
            #end
        group by
            EVENT_ID
    ) as subscribers
on
    (aggView.EVENT_ID = subscribers.EVENT_ID)
left outer join
    DIM_E_LTE_HFA_EVENTTYPE
on
    DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID = aggView.EVENT_ID
left outer join (
        select
            HIERARCHY_1,
            HIERARCHY_3,
            HIER321_ID,
            VENDOR
        from 
            DIM_E_LTE_HIER321
        where 
            HIER321_ID = :HIER321_ID
            and HIERARCHY_1=:HIERARCHY_1
        group by
            HIERARCHY_1,
            HIERARCHY_3,
            HIER321_ID,
            VENDOR
    ) as topology
    on (
        topology.HIER321_ID = isnull(aggView.HIER321_ID,subscribers.HIER321_ID)
        )