##
## Author : Jegan
## LTE HFA Subscriber Analysis ERAB Drilldown
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##    :IMSI
##    :HIER321_ID
##    :HIER3_ID
##    :EVENT_TIME
##    :EVENT_ID
##
#set($condictionColumns=["EVENT_ID", "QCI_ID"])
#set($groupTable="GROUP_TYPE_E_RAT_VEND_HIER321")
#set($groupnameColumn="GROUP_NAME")
#set($joinKeys=["HIER321_ID"])

#if($EVENT_ID == '4102')
#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "QCI_ID", "EVENT_TIME", "TAC","THIER3_ID","THIER321_ID","HO_IN_PREP_ERAB_REQ","HO_IN_PREP_ERAB_RESULT","SETUP_REQ_ARP", "SETUP_REQ_PCI","SETUP_REQ_PVI"])
#elseif($EVENT_ID == '4110')
#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "QCI_ID", "EVENT_TIME", "TAC","THIER3_ID","THIER321_ID","HO_IN_PREP_ERAB_REQ","HO_IN_PREP_ERAB_RESULT","SETUP_REQ_ARP", "SETUP_REQ_PCI","SETUP_REQ_PVI"])
#elseif($EVENT_ID == '4104')
#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "QCI_ID", "EVENT_TIME", "TAC","THIER3_ID","THIER321_ID","HO_IN_PREP_ERAB_REQ","HO_IN_PREP_ERAB_RESULT","SETUP_REQ_ARP", "SETUP_REQ_PCI","SETUP_REQ_PVI"])
#elseif($EVENT_ID == '4112')
#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "QCI_ID", "EVENT_TIME", "TAC","THIER3_ID","THIER321_ID","HO_IN_PREP_ERAB_REQ","HO_IN_PREP_ERAB_RESULT","SETUP_REQ_ARP", "SETUP_REQ_PCI","SETUP_REQ_PVI"])
#elseif($EVENT_ID == '4105')
#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "QCI_ID", "EVENT_TIME", "TAC","THIER3_ID","THIER321_ID","HO_IN_PREP_ERAB_REQ","HO_IN_PREP_ERAB_RESULT","SETUP_REQ_ARP", "SETUP_REQ_PCI","SETUP_REQ_PVI"])
#elseif($EVENT_ID == '4113')
#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "QCI_ID", "EVENT_TIME", "TAC","THIER3_ID","THIER321_ID","HO_IN_PREP_ERAB_REQ","HO_IN_PREP_ERAB_RESULT","SETUP_REQ_ARP", "SETUP_REQ_PCI","SETUP_REQ_PVI"])
#end

select
    #if($count > 0)
      top $count
    #end
    rawview.HIER3_ID ,
    rawview.HIER321_ID ,
    rawview.THIER3_ID ,
    rawview.THIER321_ID ,
    convert(char(23), rawview.EVENT_TIME, 'yyyy-mm-dd hh:mm:ss.SSS') as EVENT_TIME,
    IMSI,
    rawview.TAC AS TAC, 
    case when (rawview.TAC != null AND  rawview.TAC != 0 ) then isnull(dc.DIM_E_SGEH_TAC.VENDOR_NAME, 'Manufacturer Unknown')
         when (rawview.TAC = 0) then isnull(dc.DIM_E_SGEH_TAC.VENDOR_NAME, 'Manufacturer Invalid')
         else null end AS 'Terminal Make' ,
    case when (rawview.TAC != null AND  rawview.TAC != 0 ) then isnull(dc.DIM_E_SGEH_TAC.MARKETING_NAME, 'Model Unknown')
         when (rawview.TAC = 0) then isnull(dc.DIM_E_SGEH_TAC.MARKETING_NAME, 'Model Invalid')
         else null end AS 'Terminal Model' ,
    DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID_DESC as 'Event Type' ,
    sourceTopology.HIERARCHY_3 as 'Source Controller' ,
    sourceTopology.HIERARCHY_1 as 'Source Access Area' ,
    targetTopology.HIERARCHY_3 as 'Target Controller' ,
    targetTopology.HIERARCHY_1 as 'Target Access Area' ,
    sourceTopology.VENDOR as 'RAN Vendor' ,
    ( sourceTopology.HIERARCHY_3+','+sourceTopology.VENDOR+','+sourceTopology.RAT_DESC) AS 'Controller Node',
    ( sourceTopology.HIERARCHY_1+','+sourceTopology.HIERARCHY_2+','+sourceTopology.HIERARCHY_3+','+sourceTopology.VENDOR+','+sourceTopology.RAT_DESC) AS 'Access Node',
    (targetTopology.HIERARCHY_3+','+targetTopology.VENDOR+','+sourceTopology.RAT_DESC) as 'Target Node',
    ( targetTopology.HIERARCHY_1+','+targetTopology.HIERARCHY_2+','+targetTopology.HIERARCHY_3+','+targetTopology.VENDOR+','+sourceTopology.RAT_DESC) AS 'Target Cell Node',
    
    DIM_E_LTE_HFA_ERAB_SETUP_REQ_PCI.SETUP_REQ_PCI_DESC,
    DIM_E_LTE_HFA_ERAB_SETUP_REQ_PVI.SETUP_REQ_PVI_DESC
    #if($EVENT_ID == '4110')
    ,DIM_E_LTE_HFA_CAUSE_CODE.CAUSE_CODE_DESC as 'Handover Prep ERAB Result'
    #elseif($EVENT_ID == '4102')
    ,DIM_E_LTE_HFA_CAUSE_CODE.CAUSE_CODE_DESC as 'Handover Prep ERAB Result'
    #end
    #if($EVENT_ID == '4110')
        ,DIM_E_LTE_QCI.QCI_NUMBER as 'Prep QCI'
        ,DIM_E_LTE_QCI.QCI_ID_DESCRIPTION as 'Handover Prep Result'
    #elseif($EVENT_ID == '4113')
        ,DIM_E_LTE_QCI.QCI_NUMBER as 'Exec QCI'
        ,DIM_E_LTE_QCI.QCI_ID_DESCRIPTION as 'Handover Exec Result'
    #elseif($EVENT_ID == '4112')
        ,DIM_E_LTE_QCI.QCI_NUMBER as 'Exec QCI'
        ,DIM_E_LTE_QCI.QCI_ID_DESCRIPTION as 'Handover Exec Result'
    #elseif($EVENT_ID == '4102')
        ,DIM_E_LTE_QCI.QCI_NUMBER as 'Prep QCI'
        ,DIM_E_LTE_QCI.QCI_ID_DESCRIPTION as 'Handover Prep Result'
    #elseif($EVENT_ID == '4105')
        ,DIM_E_LTE_QCI.QCI_NUMBER as 'Exec QCI'
        ,DIM_E_LTE_QCI.QCI_ID_DESCRIPTION as 'Handover Exec Result'
    #elseif($EVENT_ID == '4104')
        ,DIM_E_LTE_QCI.QCI_NUMBER as 'Exec QCI'
        ,DIM_E_LTE_QCI.QCI_ID_DESCRIPTION as 'Handover Exec Result'
    #end

from
    #if ($timerange == "TR_4")
        #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_CONDITION_COLUMNS_GROUPS_WEEK($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $condictionColumns $columnsToSelect),
    #else
        #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_CONDITION_COLUMNS_GROUPS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $condictionColumns $columnsToSelect),
    #end
    DIM_E_LTE_HFA_EVENTTYPE,
    DIM_E_SGEH_TAC,
    DIM_E_LTE_QCI,
    DIM_E_LTE_HFA_ERAB_SETUP_REQ_PCI,
    DIM_E_LTE_HFA_ERAB_SETUP_REQ_PVI,
    DIM_E_LTE_HFA_CAUSE_CODE
    ,(
    SELECT
    dim_table.HIERARCHY_1,
    dim_table.HIERARCHY_2,
    dim_table.HIERARCHY_3,
    dim_table.HIER3_ID,
    dim_table.HIER321_ID,
    dim_table.VENDOR,
    dim_table.RAT,
    DIM_E_SGEH_RAT.RAT_DESC
    FROM (
        SELECT
            HIERARCHY_1,
            HIERARCHY_3,
            HIERARCHY_2,
            HIER3_ID,
            HIER321_ID,
            VENDOR,
            RAT
            FROM DIM_E_LTE_HIER321
            GROUP BY HIERARCHY_1,
        HIERARCHY_2,
            HIERARCHY_3,
            HIER3_ID,
            HIER321_ID,
            VENDOR,
            RAT
            ) as DIM_TABLE
            LEFT OUTER JOIN DIM_E_SGEH_RAT
                ON
                        (
                                DIM_E_SGEH_RAT.RAT=DIM_TABLE.RAT
                        )
        )as sourceTopology,
    (
       SELECT
            HIERARCHY_1,
            HIERARCHY_2,
            HIERARCHY_3,
            HIER3_ID,
            HIER321_ID,
            VENDOR,RAT
        FROM
            DIM_E_LTE_HIER321
        GROUP BY
            HIERARCHY_1,
            HIERARCHY_2,
            HIERARCHY_3,
            HIER3_ID,
            HIER321_ID,
            VENDOR,RAT
    ) AS targetTopology
where
    DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID = :eventID
    and rawview.EVENT_ID *= DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID
    and rawview.SETUP_REQ_PCI *= DIM_E_LTE_HFA_ERAB_SETUP_REQ_PCI.SETUP_REQ_PCI
    and rawview.SETUP_REQ_PVI *= DIM_E_LTE_HFA_ERAB_SETUP_REQ_PVI.SETUP_REQ_PVI
    and rawview.THIER3_ID *= targetTopology.HIER3_ID
    and rawview.THIER321_ID *= targetTopology.HIER321_ID
    and rawview.HIER3_ID *= sourceTopology.HIER3_ID
    and rawview.HIER321_ID *= sourceTopology.HIER321_ID
    and rawview.TAC *= DIM_E_SGEH_TAC.TAC
    and rawview.QCI_ID = DIM_E_LTE_QCI.QCI_NUMBER
    and DIM_E_LTE_HFA_CAUSE_CODE.EVENT_ID= :eventID
    and rawview.HO_IN_PREP_ERAB_RESULT *= DIM_E_LTE_HFA_CAUSE_CODE.CAUSE_CODE