
## LTE Handover Failure Analysis Target Cell Ranking (using aggregation tables)
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

SELECT
    #if($count > 0)
      top $count
    #end
    RAW_TABLE.THIER321_ID as 'THIER321_ID',
    $CATEGORY_ID_2  as 'CATEGORY_ID_2',
    RANK() OVER (ORDER BY Failures DESC) as 'Rank',
    TOPO_TABLE.VENDOR as 'RAN Vendor',
    TOPO_TABLE.HIERARCHY_3 as 'Controller',
    TOPO_TABLE.HIERARCHY_1 as 'Target Access Area',
    FAILURES as 'Failures',
    RAT_TABLE.RAT_DESC
FROM
    (
        SELECT
            SUM(NO_OF_ERRORS) as FAILURES,
            THIER321_ID
        from
            $aggregationView
        WHERE
            CATEGORY_ID_2 = :CATEGORY_ID_2 AND
            #GET_DATETIME_RANGE() AND
            THIER321_ID <> 0
        GROUP BY
            THIER321_ID
    ) as RAW_TABLE
LEFT OUTER JOIN
    (
        SELECT
            HIER321_ID, HIERARCHY_3, HIERARCHY_1, VENDOR, RAT
        FROM
            DIM_E_LTE_HIER321
        GROUP BY
            HIER321_ID, HIERARCHY_3, HIERARCHY_1, VENDOR, RAT
    ) as TOPO_TABLE
ON
    RAW_TABLE.THIER321_ID = TOPO_TABLE.HIER321_ID
LEFT OUTER JOIN
    (
        SELECT
            RAT, RAT_DESC
        FROM
            DIM_E_SGEH_RAT
        GROUP BY
            RAT, RAT_DESC
    ) as RAT_TABLE
    ON RAT_TABLE.RAT = TOPO_TABLE.RAT