##
## Author : Jegan
## LTE Handover Failure Cause Code Ranking 
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

SELECT
	#if($count > 0)
	  top $count
	#end
	rank() over (order by Failures desc) as 'Rank',
	DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID_DESC as 'Event Type', 
	CAUSE_CODE_DESC as 'Cause Code',
	RAW_TABLE.CAUSE_CODE as 'Cause Code ID',
	FAILURES as 'Failures'
FROM
	(
		SELECT
			EVENT_ID,
			CAUSE_CODE,
			SUM (NO_OF_ERRORS) AS FAILURES
		FROM
			$aggregationView
		WHERE
			CATEGORY_ID_2 =:CATEGORY_ID_2 AND
			CAUSE_CODE is not null AND
			#GET_DATETIME_RANGE()
		GROUP BY
			CAUSE_CODE,EVENT_ID
	) RAW_TABLE
 JOIN
	DIM_E_LTE_HFA_CAUSE_CODE
ON
	RAW_TABLE.CAUSE_CODE = DIM_E_LTE_HFA_CAUSE_CODE.CAUSE_CODE AND
	RAW_TABLE.EVENT_ID=DIM_E_LTE_HFA_CAUSE_CODE.EVENT_ID
JOIN
	DIM_E_LTE_HFA_EVENTTYPE
ON 	RAW_TABLE.EVENT_ID=DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID
