##
## Author : Jegan
## LTE HFA QOS QCI eNodeB Group Event Summary Analysis (using raw tables)
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##
#set($conditionColumns=["QCI_ID", "CATEGORY_ID_2"])
#set($columnsToSelect=["HIER3_ID", "QCI_ID", "CATEGORY_ID_2", "IMSI", "EVENT_ID"])

#set($groupTable="GROUP_TYPE_E_RAT_VEND_HIER3")
#set($groupnameColumn="GROUP_NAME")
#set($joinKeys=["HIER3_ID"])
SELECT
	#if($count > 0)
	  top $count
	#end
	:groupname as 'Group Name',
	:QCI_ID as QCI_ID,
	data_table.EVENT_ID as EVENT_ID,
	DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID_DESC as 'Event Type',
	data_table.FAILURES as Failures,
	data_table.IMPACTED_SUBSCRIBERS as 'Impacted Subscribers'
FROM
	(	
		select 
			count (*) as FAILURES,
			:groupname as GROUP_NAME,
			:QCI_ID as QCI_ID,
			EVENT_ID,
			count (distinct rawview.IMSI) as IMPACTED_SUBSCRIBERS
		from
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_CONDITION_COLUMNS_GROUPS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $conditionColumns $columnsToSelect)
			,GROUP_TYPE_E_RAT_VEND_HIER3 eNodeBGroup
		where
			eNodeBGroup.GROUP_NAME = :groupname
			and eNodeBGroup.HIER3_ID = rawview.HIER3_ID
		group by
			EVENT_ID
	) as data_table
left outer join
	DIM_E_LTE_HFA_EVENTTYPE
on
	DIM_E_LTE_HFA_EVENTTYPE.EVENT_ID = data_table.EVENT_ID