##
## Author : Jegan
## LTE HFA QOS QCI eNodeB Group Category Summary Analysis (using raw tables)
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

#set($columnsToSelect=["HIER3_ID", "QCI_ID", "CATEGORY_ID_2", "IMSI"])
#set($groupTable="GROUP_TYPE_E_RAT_VEND_HIER3")
#set($groupnameColumn="GROUP_NAME")
#set($joinKeys=["HIER3_ID"])
SELECT
	#if($count > 0)
	  top $count
	#end
	:groupname as 'eNodeB Group Name',
	data_table.QCI_ID as QCI_ID,
	DIM_E_LTE_QCI.QCI_ID_DESCRIPTION as 'QCI Description',
	data_table.CATEGORY_ID_2 as CATEGORY_ID_2,
	eventDesc.CATEGORY_ID_2_DESC,
	data_table.FAILURES as Failures,
	data_table.IMPACTED_SUBSCRIBERS as 'Impacted Subscribers'
FROM
	(	
		select 
			count (*) as FAILURES,
			:groupname as GROUP_NAME,
			QCI_ID,
			CATEGORY_ID_2,
			count (distinct rawview.IMSI) as IMPACTED_SUBSCRIBERS
		from
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $columnsToSelect)
			,GROUP_TYPE_E_RAT_VEND_HIER3 eNodeBGroup
		where
			eNodeBGroup.GROUP_NAME = :groupname
			and eNodeBGroup.HIER3_ID = rawview.HIER3_ID
		group by
			QCI_ID,
			CATEGORY_ID_2
	) as data_table
 join
		DIM_E_LTE_QCI
on 
		DIM_E_LTE_QCI.QCI_NUMBER = data_table.QCI_ID
left outer join
	(
		 select 
			CATEGORY_ID_2,
			CATEGORY_ID_2_DESC
		from 
			dc.DIM_E_LTE_HFA_EVENTTYPE
		group by
			CATEGORY_ID_2,
			CATEGORY_ID_2_DESC
	 )	as eventDesc
on
	eventDesc.CATEGORY_ID_2 = data_table.CATEGORY_ID_2
order by data_table.QCI_ID, data_table.CATEGORY_ID_2