##
## LTE Handover Analysis Terminal Group Event Analysis (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time#
#set($columnsToSelect=["EVENT_ID", "IMSI"])
#set($conditionColumns=["CATEGORY_ID_2"])
#set($groupTable="dc.GROUP_TYPE_E_TAC")
#set($groupnameColumn="GROUP_NAME")
#set($joinKeys=["TAC"])

SELECT 
    '${groupname}' as 'Group Name',
    eventDesc.EVENT_ID_DESC as 'Event Type',
    data.EVENT_ID AS 'Event ID',
    FAILURES as 'Failures',
    IMPACTED_SUBSCRIBERS as 'Impacted Subscribers'
FROM
    (
        select
            count (*) ,
            EVENT_ID,
            count (distinct rawview.IMSI)
        from
            #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_CONDITION_COLUMNS_GROUPS($TECH_PACK_LIST.getAllRawTables() "rawview" $conditionColumns $columnsToSelect)
        group by
            EVENT_ID
    ) as data(FAILURES, EVENT_ID, IMPACTED_SUBSCRIBERS)
    inner join
        DIM_E_LTE_HFA_EVENTTYPE eventDesc
    on(
        eventDesc.EVENT_ID = data.EVENT_ID
        and eventDesc.CATEGORY_ID_2= :CATEGORY_ID_2
    )

