##
## LTE Handover Failure enodeB Event Analysis (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time#

#set($conditionColumns=["HIER3_ID", "CATEGORY_ID_2"])
#set($columnsToSelect=["EVENT_ID", "IMSI"])

SELECT 
	:HIER3_ID AS HIER3_ID,
	topology.VENDOR as 'RAN Vendor',
	topology.HIERARCHY_3,		
	eventDesc.EVENT_ID_DESC as 'Event Type',
	data.EVENT_ID AS 'Event ID', 
	FAILURES as 'Failures', 
	IMPACTED_SUBSCRIBERS as 'Impacted Subscribers'
FROM 	
	(	
		select 
			count (*),
			:HIER3_ID AS HIER3_ID,
			EVENT_ID,
			count (distinct rawview.IMSI)
		from 
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTables() "rawview" $conditionColumns $columnsToSelect)
		group by
			EVENT_ID
	) as data(FAILURES,HIER3_ID, EVENT_ID, IMPACTED_SUBSCRIBERS) 
	join	
		DIM_E_LTE_HFA_EVENTTYPE eventDesc
	on(
		eventDesc.EVENT_ID = data.EVENT_ID
		and eventDesc.CATEGORY_ID_2= :categoryId
	)
	LEFT OUTER JOIN
(	
		select 
			HIERARCHY_3,
			HIER3_ID,
			VENDOR
		from 
			DIM_E_LTE_HIER321
			WHERE HIER3_ID = :HIER3_ID
		group by
			HIERARCHY_3,
			HIER3_ID,
			VENDOR
	) as topology
ON
	(
	 data.HIER3_ID = topology.HIER3_ID
	 )